.jsbox-tpl-wrapper-buttons {
    padding: 0 5px 5px 5px;
    text-align: right;
}

.jsbox-cmd {
    border:none;
    font-size: 10pt;
    padding: 3px 10px;
    outline: none;
    border-radius: @borderRadius;
}
.jsbox-cmd-execute {
    text-transform: uppercase;
    background: #fff;
    color: @colorActive;
    font-weight: bold;
    
    &:active {
        
    }
}

.jsbox-cmd-reset {
    text-transform: lowercase;
    background: none;
    color: #444;
    font-size: 9pt;
    margin-right: 10px;
    
    &:active {
        background: #666;
        color: #fff;
    }
    
}