
.jsbox-tpl-simple {
    position: relative;
    
    border: 2px solid transparent;
    border-radius: @borderRadius;
    overflow: hidden;
    
    font-size: @fontSize;
    font-family: @fontFamily;
    
    
    @import "text-editor.less";
    @import "tests-list.less";
    @import "sandbox.less";
    @import "console.less";
    @import "buttons.less";
    
}

.jsbox-enabled {
    border-color: @colorEnabled;
    background: lighten(@colorEnabled, 65%);
}

.jsbox-disabled {
    border-color: @colorEnabled;
    background: @colorEnabled;
}

.jsbox-active {
    border-color: @colorActive;
    background: lighten(@colorActive, 0%);
}

.jsbox-running {
    border-color: @colorRunning;
    background: lighten(@colorRunning, 0%);
}

.jsbox-success {
    border-color: @colorSuccess;
    background: lighten(@colorSuccess, 0%);
}

.jsbox-failed {
    border-color: @colorFailed;
    background: lighten(@colorFailed, 0%);
}






.jsbox-tpl-overlay {
    display: none;
}

.jsbox-disabled .jsbox-tpl-overlay {
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    
    display: block;
    width: 100%;
    height: 100%;
    
    background: rgba(255,255,255,.8);
    
    p {
        position: absolute;
        top: 5%;
        left: 0;
        
        display: block;
        width: 100%;
        height: 50px;
        
        line-height: 50px;
        text-align: center;
        background: #555;
        color: #fff;
        
        font-size: 16pt;
        font-weight: normal;
    }
}