/**
 * JSBox Theme
 * ===========
 */

/**
 * Theme Config
 */

@fontSize: 11pt;
@fontFamily: sans-serif;
@borderDarkColor: #555;

/**
 * Import Libraries
 */

@import "lib/lesshat.less";



/**
 * Import Modules
 */

.jsbox {
    font-size: @fontSize;
    font-family: @fontFamily;
    background: lighten(@borderDarkColor, 50%);
}

.jsbox-running {
    background: #ffe200;
}

.jsbox-plugin-enabled {
    display: none;
}

@import "template-simple/template.less";