<div>JSBox Simple Template {{ name }}</div>

{{#htmlIsEnabled}}
<link data-role="panel-html">
{{/htmlIsEnabled}}

{{#cssIsEnabled}}
<link data-role="panel-css">
{{/cssIsEnabled}}

{{#jsIsEnabled}}
<link data-role="panel-js">
{{/jsIsEnabled}}

{{#consoleIsEnabled}}
<link data-role="panel-console">
{{/consoleIsEnabled}}

{{#sandboxIsEnabled}}
<link data-role="panel-sandbox">
{{/sandboxIsEnabled}}

{{#cmdRunIsEnabled}}
<link data-role="cmd-run">
{{/cmdRunIsEnabled}}

{{#cmdResetIsEnabled}}
<link data-role="cmd-reset">
{{/cmdResetIsEnabled}}

{{#cmdToggleConsoleIsEnabled}}
<link data-role="cmd-toggleConsole">
{{/cmdToggleConsoleIsEnabled}}

{{#cmdFullScreenIsEnabled}}
<link data-role="cmd-fullScreen">
{{/cmdFullScreenIsEnabled}}

